@charset "UTF-8";
.btn {
  display: inline-block; /* Permet de traiter le bouton comme un bloc */
  text-align: center; /* Centre le texte à l'intérieur du bouton */
  padding: 10px 20px; /* Ajuste le rembourrage */
  background-color: #007BFF; /* Couleur de fond (modifiable selon vos préférences) */
  color: white; /* Couleur du texte */
  border: none; /* Supprime la bordure */
  border-radius: 5px; /* Arrondi les coins */
  cursor: pointer; /* Change le curseur au survol */
  text-decoration: none; /* Supprime le soulignement */
}