.introduce {
    background: #f0ced9;
    background: linear-gradient(180deg, rgba(240, 206, 217, 1) 0%, rgba(244, 214, 222, 1) 100%);

    .grid.wide {
        max-width: 100%;
        width: 90%;
    }
}
